#form-produtos{
    width: 70vw;
    margin: 0 auto;
    border: 1px solid;
}

#form-produtos h3{
    text-align: center;
}

#form-produtos label{
    display: block;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 20px;
}

#form-produtos label input{
    width: 100%;
}

#form-produtos div{
    text-align: center;
}